@import '~@fluentui/react/dist/sass/References.scss';

.titleBody {
 display: flex;
 flex-direction: column;
 div{
  height:80vh;
 }
}

:global {
  .CanvasComponent.LCS .CanvasZone {
  
    max-width: 100% !important;
    
    }
    
    #workbenchPageContent {
    
    max-width: 100% !important;
    
    }
    
   }

.quickLinksContainer{
  display:flex;
  flex-direction: row;
}